@model ExpenseRequest

@{
    ViewData["Title"] = "Manage your expenses";
}

<h1>Expenses</h1>

<h5>Create</h5>

<partial name="_ShowAlertMessage"/>

<div class="row">
    <div class="col-md-6">
        <form method="POST">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Name</label>
                <input class="form-control" asp-for="Name" aria-describedby="nameHelp">
                <div id="nameHelp" class="form-text">Name is used to identify specific expense.</div>
            </div>
            <div class="mb-3">
                <label asp-for="CategoryId" class="form-label">Category</label>
                <select class="form-select" asp-for="CategoryId" asp-items="ViewBag.CategoryDropdown"></select>
            </div>
            <div class="mb-3">
                <label asp-for="Amount" class="form-label">Amount</label>
                <input class="form-control" asp-for="Amount">
            </div>
            <div class="mb-3">
                <label asp-for="PostedAt" class="form-label">Posted date</label>
                <input class="form-control" asp-for="PostedAt">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
